<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Création d'une ekip de pékomen</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-danger">
        <div class="container">
            <a class="navbar-brand" href="/pekomens/">Bienvenue dans le pékodex</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/pekomens/">Pékomens</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ekips/">Ekips</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" style="padding-top: 100px">
        <div class="row">
            <div class="col-5">
                <form action="save_ekip" method="post">
                    {% csrf_token %}
                    <input class="form-control me-2 mb-3" type="text" placeholder="Nom de l'ekip" aria-label="Ekip name" name="name" required>
                    <div class="bg-light rounded border border-danger p-3">
                        <div class="row">
                            {%for selected_pokemon in selected_pokemons %}
                            <div class="col-4 p-4">
                                <div class="card text-decoration-none" style="max-width: 18rem;">
                                    <img src="{{ selected_pokemon.image }}" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title text-center text-black">{{ selected_pokemon.name }}</h5>
                                    </div>
                                    <a type="button" class="close rounded-circle px-2 bg-danger text-white text-decoration-none position-absolute" href="/ekip/create/del_pokemon/{{ selected_pokemon.objectId }}" style="top: -10px; right: -10px;" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                    </div>
                    <input type="submit" class="btn btn-success mt-3"></input>
                </form>


            </div>
            <div class="col-7">
                <div class="row">
                    {%for pokemon in pokemons %}
                    <div class="col-3 px-4 pb-4">
                        <a class="card text-decoration-none" style="max-width: 18rem;" href="/ekip/create/add_pokemon/{{ pokemon.objectId }}">
                            <img src="{{ pokemon.image }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-center text-black">{{ pokemon.name }}</h5>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</body>
</html>