<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ekips de pékomen</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-danger">
        <div class="container">
            <a class="navbar-brand" href="/pekomens/">Bienvenue dans le pékodex</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/pekomens/">Pékomens</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/ekips/">Ekips</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" style="padding-top: 100px; padding-bottom: 70px">
        <div class="row">
            <div class="row col-7 border-right border-danger">
                {%for ekip in ekip_list %}
                    <a href="set_selected_ekip/{{ ekip.objectId }}" class="col-3 text-decoration-none p-3">
                        <div class="text-decoration-none" style="max-width: 18rem;">
                            <img src="https://www.pokepedia.fr/images/e/e2/Pok%C3%A9_Ball-RS.png" class="card-img-top" alt="...">
                            <h5 class="text-center pt-3 text-black">{{ ekip.name }}</h5>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div class="col">
                <h3>{{ selected_ekip.name }}</h3>
                <div class="bg-light rounded border border-danger p-3">
                    <div class="row">
                        {%for pokemon in selected_ekip.pokemons %}
                            <div class="col-4 p-4">
                                <a class="card text-decoration-none" style="max-width: 18rem;" href="/pekomen/{{ pokemon.objectId }}/">
                                    <img src="{{ pokemon.image }}" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title text-center text-black">{{ pokemon.name }}</h5>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>

                </div>
                <a type="button" class="btn btn-success mt-3" href="/ekip/create/">Créer ma propre ekip</a>

            </div>
        </div>
    </div>
</body>
</html>