<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pékomen</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-danger">
    <div class="container">
        <a class="navbar-brand" href="/pekomens/">Bienvenue dans le pékodex</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/pekomens/">Pékomens</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ekips/">Ekips</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
    <div class="container" style="padding-top: 100px">
        <div class="row pb-5">
            <div class="col-2">
                <img src="{{pokemon.sprites}}" style="width: 100%" alt="...">
            </div>
            <div class="col">
                <div class="row">
                    <p class="col">
                        <span class="h1 text-uppercase">{{pokemon.name}}</span>
                        {% for type in pokemon.types %}
                        <span class="text-secondary">{{ type }}</span>
                        {% endfor %}
                    </p>
                </div>
                <div class="row mt-4">
                    {% for stat in pokemon.stats %}
                    <div class="col border-start border-success">
                        <h5 class="text-success text-capitalize">{{ stat.name }}</h5>
                        <h5>{{ stat.value }}</h5>
                    </div>
                    {% endfor %}
                </div>
                <div class="row mt-5">
                    <div class="col">
                        <h3>Weight</h3>
                        <h5>{{ pokemon.weight }}kg</h5>
                    </div>
                    <div class="col">
                        <h3>Height</h3>
                        <h5>{{ pokemon.height }}cm</h5>
                    </div>
                    <div class="col">
                        <h3>Base Exp</h3>
                        <h5>{{ pokemon.base_experience }}</h5>
                    </div>
                </div>
                <div class="col mt-5">
                    <h2>Abilitites</h2>
                    <div class="row">
                        {%for ability in pokemon.abilities %}
                        <div class="col-2 mb-3 mx-3 bg-light p-2 border-danger border rounded text-center">{{ ability }}</div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col mt-5">
                    <h2>Navigation</h2>
                    {% if previous >= 1 %}
                    <a type="button" class="btn btn-secondary mt-3" href="/pekomen/{{ previous }}/">Pékomen précédent</a>
                    {% endif %}
                    {% if next <= 151 %}
                    <a type="button" class="btn btn-secondary mt-3" href="/pekomen/{{ next }}/">Pékomen suivant</a>
                    {% endif %}
                </div>

            </div>
        </div>

    </div>
</body>
</html>